html {
  background-color: #eee;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25em;
  max-width: 42em;
  margin: auto;
  padding: 4em 6em 3em 6em;
  background-color: #fff;
}

h1 {
  font-size: 4em;
  line-height: 1em;
  font-weight: 100;
  /*letter-spacing: -1px;*/
  margin: 0 0 0.75em 0;
  padding: 0;
}

h2 {
  font-size: 2.5em;
  line-height: 1.25em;
  font-weight: 300;
  margin: 2em 0 0 0;
  padding: 0;
}

h2 em {
    font-size: 0.6em;
    font-weight: 100;
}

h2 em:after{
    content: "\a";
    white-space: pre;
}

h3 {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 400;
  margin: 2em 0 0 0;
  padding: 0;
}

h2 + h3 {
  margin: 1em 0 0 0;
}

h4 {
  font-size: 1em;
  line-height: 1.25em;
  margin: 2em 0 0 0;
  padding: 0;
}

h3 + h4 {
  margin: 1em 0 0 0;
}

p {
  font-size: 1em;
  line-height: 1.25em;
  margin: 1em 0 0 0;
  padding: 0;
}

ul {
  font-size: 1em;
  line-height: 1.25em;
  margin: 0 0 2em 3em;
  padding: 0;
}

img, object {
  display: block;
  max-width: 100%;
  margin: 1em auto 1em auto;
  padding: 0;
}

pre {
  font-family: monospace;
  font-size: 0.875em;
  line-height: 1.25em;
  word-wrap: break-word;
  white-space: pre-wrap;
}

a {
    color: #15a;
    font-weight: bold;
    text-decoration: none;
    padding: 0.1em;
}

a:hover, a:active{
    color: #fff;
    background-color: #15a;
}

dt {
    font-weight: bold;
    margin-top: 0.5em;
}

footer {
    margin-top: 5em;
    font-size: 0.6em;
    color: #333;
}

i {
    color: #5af;
}

.right {
    float: right;
    margin-left: 1em;
}

.border {
    padding: 1px;
    border: 1px solid #777;
    background-color: #eee;
}
