body #breadcrumbs {
    border-bottom: 2px solid #f6f6f6;
    height: 28px;
    margin: 0;
    padding: 0;
    width: 650px; }
body #breadcrumbs li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0; }
body #breadcrumbs li a {
    display: block;
    float: left;
    padding: 0 8px; }
body #breadcrumbs li.last {
    padding: 0 8px; }
body #breadcrumbs li.not-last:after {
    content: "»";
    float: right; }




body.listing table#pages tr, body.listing table#subdirs tr, body.listing table#files tr {
    border-bottom: 1px solid #777;
    border-top: 1px solid #777; }
body.listing table#pages td, body.listing table#subdirs td, body.listing table#files td {
    border: none; }
body.listing table#pages td.size, body.listing table#subdirs td.size, body.listing table#files td.size {
    background-color: #f6f6f6; }
body.listing table#pages td.name, body.listing table#subdirs td.name, body.listing table#files td.name {
    padding: 0; }
body.listing table#pages td.name a, body.listing table#subdirs td.name a, body.listing table#files td.name a {
    display: block;
    margin: 0;
    padding: 4px 8px; }



.codehilite {
    border-left: 1px solid gray;
    margin-bottom: 13px;
    margin-left: 30px;
    padding-left: 12px; }
.codehilite pre {
    border: none;
    margin: 0;
    padding: 0; }

.codehilitetable {
    margin-left: 0;
    padding-left: 0; }
.codehilitetable tr td {
    border: none;
    padding: 3px 5px 0 5px; }
.codehilitetable tr td.linenos {
    background-color: #f6f6f6;
    border-right: 1px solid gray;
    margin: 0;
    padding-right: 6px;
    text-align: right;
    width: 19px; }
.codehilitetable tr td.linenos .linenodiv pre {
    border: none;
    margin: 0;
    padding: 0; }
.codehilitetable tr td.code {
    margin: 0;
    padding-left: 12px; }
.codehilitetable tr td.code .codehilite {
    border: none;
    margin: 0;
    padding: 0; }




.Pub, .Talk, .Poster {
    text-align: left;
    font-size: 0.9em;
    line-height: 125%;
    page-break-before: always;
    padding-bottom: 0.8em;
}

.Title { font-weight: bolder;
    font-size: 1.0em;
    color: #001;
}

.Author {color: black;}

.Journal, .Conference {font-style: italic;}

.Volume {font-weight: bolder;}

.Year {color: black;}

.Citations {font-size: 0.8em;
    color: #3d433b;
}

.url { font-size: 0.8em; color: #c95e62;}



nav {
    background: #fff;
    font-size: 1.5em;
    height: 1.5em;
    width: auto;
    line-height: 1.5em;
    display: block;
    padding: 0;
    margin: 0;
    position: absolute; /*fixed;*/
    top: 0;
}
/*nav li:first-child, nav li:first-child a:hover{
    border-bottom-left-radius: 0.4em;
    border-top-left-radius: 0.4em;
}*/
nav ul {
    list-style: none outside none;
    margin: 0 auto;
    width: auto;
    padding: 0;
}
nav li {
    display: inline;
    float: left;
    margin: 0;
}
nav a {
    color: #000;
    display: inline-block;
    height: 1.5em;
    padding: 0 1em;
    border-radius: 0 0 1em 1em;
    font-weight: 100;
}
nav .active {
    border: 2px solid #777;
    border-radius: 0 0 1em 1em;
    border-top: 0;
}
